<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to the SF Map App!</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/readable/bootstrap.min.css">

  <link rel="stylesheet" href="/stylesheets/mapapp.css">


  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.20&signed_in=true"></script>
  <!--Android and iOS devices respect the following tag, which specifies that the
  map should be displayed full-screen and should not be resizable by the user.-->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
  <script src="/handlebars/templates.js"></script>

  <script type="text/javascript" src="/js/map.js"></script>

</head>
<body class = "container">