<% include ../partials/header %>
  <title>View All Places</title>
</head>
<body class = "container">
	<header>
  	<h1>View All Places</h1>
		<nav class="navbar navbar-default" role="navigation">
   		<div class="navbar-header">
				<ul class="nav navbar-nav">
   				<li><a href="/login">Log In</a></li>
					<% if(user !== ""){ %>
					<li><a href="/">View Places on Map!</a></li>
					<li><a href="/places/new">Add a new place</a></li>
					<li><a href="/logout" id="logout">Logout</a></li>
					<% }  %>
				</ul>
			</div>
		</nav>
	</header>

	<div class="table-responsive">
	<table class="table table-bordered table-hover">
	<thead>
			<tr>
				<th>Place</th>
				<th>User</th>
			</tr>
	</thead>
	<tbody>
		<% places.forEach(function(place){ %>
			<tr>
			<td><a href="/places/<%= place.id %>"><%= place.address %></a></td>
			<td><%= place.user.name%></td>
			</tr>
		<% }) %>
		</tbody>
	</table>
	</div>
<% include ../partials/footer %>