<% include ../partials/header %>
<title>Add A New Place</title>
</head>
<body class = "container">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="/">View Places on Map!</a></li>
          <li><a href="/places">View List of All Places</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <h1>Add a new place</h1>
  </header>

	<form role="form" id="addplaceform" action="/places" method="POST">
  	<div class="form-group">
    	<label for="name">Address: </label>
    	<input type="text" class="form-control" name="place[address]" id="address" placeholder="Enter complete San Francisco address here, including city, state, and zip" autofocus>
  	</div>
  	<div class="form-group">
    	<label for="name">Description:</label>
      <textarea type="text" name="place[description]" class="form-control" rows="8" cols="40" id="description" placeholder="Enter your place here! Please add name of place first, then a description."></textarea>
  	</div>
  	<input type="submit" value="Add Place">
	</form>
<% include ../partials/footer %>
