<%= include ../partials/header %>
<title>Edit Comment</title>
</head>
<body>
  <div>
    <div>
    	<h1>Edit your comment.</h1>
    	<form action="/comments/<%= comment.id %>?_method=put" method="POST">
    		<div>
    			<div>
    				  <label for="comments">Comments:</label>
    				  <input type="text" name="comment[body]" id="comments" value="<%= comment.body %>">
    			</div>
    		 	<input type="submit">
          </div>
          </div>
    		</div>
    	</form>
    </div>
  </div>
<%= include ../partials/footer %>
