<%= include ../partials/header %>
<title>Edit Comment</title>
</head>
<body class = "container">
  <div>
    <div>
    	<h1>Edit your comment.</h1>
    	<form role="form" action="/comments/<%= comment.id %>?_method=put" method="POST">
    		<div class="form-group">
    			<label for="comments">Comments:</label>
    			<input type="text" name="comment[body]" class="form-control" id="comments" value="<%= comment.body %>">
    		</div>
    		 	<input type="submit">
    	</form>
    </div>
  </div>
<%= include ../partials/footer %>
