<% include partials/headermap %>
<header>
	<h1>Welcome to the SF Map App!</h1>
	<nav class="navbar navbar-default" role="navigation">
   	<div class="navbar-header">
			<ul class="nav navbar-nav">
   			<li><a href="/signup">Signup to see places</a></li>
   			<li><a href="/login">Login to see places</a></li>
   			<li><a href="/places">See list of all places</a></li>
   			<li><a id="newplacelink" href="/places/new">Add a new place</a></li>
   			<li><a id="logout" href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>
</header>

<div id="map-canvas"></div>

<div <div class="btn-group-vertical">
  <input type="button" class="btn btn-primary" value="Show Transit Routes" id ="transit"></input>
  <input type="button" class="btn btn-primary" value="Show Bicycle Routes" id ="bike"></input>
  <input type="button" class="btn btn-primary" value="Show Traffic Routes" id ="traffic"></input>
</div>

<% include partials/footermap %>
