<% include partials/headermap %>
<h1>Welcome to the SF Map App!</h1>
<div id="map-canvas"></div>
<a id="newplacelink" href="/places/new">Add a new place!</a>
<a id="logout" href="/logout">Logout</a>
<div id="details"></div>
<% include partials/footer %>
