<% include partials/headermap %>
<header>
	<h1>Welcome to the SF Map App!</h1>
	<nav class="navbar navbar-default" role="navigation">
   	<div class="navbar-header">
			<ul class="nav navbar-nav">
   			<li><a href="/signup">Signup to see places</a></li>
   			<li><a href="/login">Login to see places</a></li>
   			<li><a href="/places">See list of all places</a></li>
   			<li><a id="newplacelink" href="/places/new">Add a new place</a></li>
   			<li><a id="logout" href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>
</header>


<div class="row">
	<div class="col-md-10">
		<div id="map-canvas"></div>
	</div>

	<div class="col-md-2">

		<h5>If you allowed your location to be enabled, you can see a suggested travel route to any marker on the map:</h5>
    <form role="form">
   		<div class="form-group">
      	<label for="mode">Travel Mode</label>
    		<select class="form-control" id="mode" onchange="calcRoute();">
      		<option value="DRIVING">Driving</option>
      		<option value="WALKING">Walking</option>
      		<option value="BICYCLING">Bicycling</option>
      		<option value="TRANSIT">Transit</option>
    		</select>
    	</div>
    </form>

    <h5>If you did not choose to allow your location to be enabled, you can still see route overlays on the map:</h5>
    <div class="btn-group-vertical">
  			<input type="button" class="btn btn-primary" value="Show Transit Routes" id ="transit"></input>
  			<input type="button" class="btn btn-primary" value="Show Bicycle Routes" id ="bike"></input>
  			<input type="button" class="btn btn-primary" value="Show Traffic Routes" id ="traffic"></input>
		</div>

	</div>
</div>

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-4">
	<div id="forecast">
		<h4>Weather in <span id="location"> </span></h4>
		<div id="imgdiv">
			<img id="img" src=""/>
		</div>
		<p>Currently <span id="temp"> </span>&deg;F, <span id="desc"> </span></p>
		<p>Wind: <span id="wind"></span></p>
	</div>
	</div>

	<div class="col-md-8">
		<p>Weather information powered by Weather Underground</p>
		<a href="http://www.wunderground.com/" target="_blank"><img src="wundergroundLogo_4c.png" alt="Weather Underground logo" width="150" border="0" /></a>
	</div>
</div>

<div class="clearfix"></div>

<div class="row">
	<h2>SF Map App</h2>
		<p>This is a project using Google Maps JavaScript API to design a map of San Francisco that users can log into and add places they think are interesting, and comment on other users' places.</p>

		<p>It's a project for the Full Stack Program at <a href="http://www.galvanize.com/courses/full-stack/" target="_blank">Galvanize</a>. The goal for the assignment was to spend a week using the skills we've learned so far to create a web app.</p>

<p>I used and modified code and instructions from the <a href="https://developers.google.com/maps/documentation/javascript/tutorial" target="_blank">Google Maps JavaScript API Tutorial</a>. My understanding, from reading the <a href="https://developers.google.com/site-policies" target="_blank">Google Developers Site Policies</a>, is that we are able to use <a href="https://developers.google.com/site-policies#restrictions" target="_blank">nearly everything</a> on the Google Developers site in our own creations, as long as we include the following attribution:</p>
<p><cite>Portions of this page are reproduced from or are modifications based on work created and <a href="https://developers.google.com/readme/policies/" target="_blank">shared by Google</a> and used according to terms described in the <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons 3.0 Attribution License</a>.</cite></p>

<p>In the interest of completeness: since I'm also using a lot of their code, here is an additional attribution:</p>
<p>I reproduced and modified the Google code from the <a href="https://developers.google.com/maps/documentation/javascript/tutorial" target="_blank">Google Maps JavaScript API Tutorial</a> according to terms described below:</p>
<p><cite>Code samples are licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0 License</a>.</cite></p>

<p>The code and instructions I used came from many different pages in the <a href="https://developers.google.com/maps/documentation/javascript/tutorial" target="_blank">Google Maps JavaScript API Tutorial</a>; so, hopefully, linking to the opening page of the tutorial will satisfy the requirement that I link back to the original source page. I am very grateful to Google for the tutorial, and of course also for the opportunity to make use of the Google Maps JavaScript API.</p>

<p>I also used location pins from <a href="http://www.webiconset.com/map-icons/" target="_blank">WebIconSet.com</a> in the creation of my custom map markers.</p>

<p>And I referenced <a href="http://www.developerdrive.com/2014/09/how-to-build-a-weather-app-with-html5s-geolocation-api/" target="_blank">this very helpful tutorial</a> when adding Weather Underground weather information.

<p>A disclaimer:
I have only been studying at Galvanize for nine weeks, so there is a lot I still don't know. I look forward to adding features and improvements as I learn more.</p>

</div>
<% include partials/footermap %>
