<% include partials/headermap %>
<h1>Welcome to the SF Map App!</h1>
<div id="map-canvas"></div>
<a href="/signup">Signup to see the places</a>
<a href="/login">Login to see the places</a>
<a href="/places">See list of all places</a>
<a id="newplacelink" href="/places/new">Add a new place!</a>
<a id="logout" href="/logout">Logout</a>

<div>
  <input type="button" value="Show Transit Routes" id ="transit"></input>
</div>

<div>
  <input type="button" value="Show Bicycle Routes" id ="bike"></input>
</div>

<div>
  <input type="button" value="Show Traffic Routes" id ="traffic"></input>
</div>



<div id="details"></div>
<% include partials/footer %>
