<% include ../partials/header %>
  <title>Not Found</title>
</head>
<body>
  <header>
  <h1>404: Oh noes! That page cannot be found!</h1>
  <a href="/places">Home</a>
  </header>
<% include ../partials/footer %>
