<% include ../partials/header %>
	<title>Links to Signup/Login Pages</title>
</head>
<body>
<h2>Links to Signup/Login Pages</h2>
	<div>
    <a href="/signup">Signup</a>
    </div>
    <div>
    <a href="/login">Login</a>
    </div>
<% include ../partials/footer %>