<% include ../partials/header %>
  <title>SF Map App Log In</title>
</head>
<body class = "container">
  <header>
  <h1>Log In to the SF Map App!</h1>
  <a href="/">Home</a>
  </header>
  <h2><% if(error !== undefined) {%>
    <%= error %>
  <% }%></h2>
  <form role="form" action="/login" method="POST">
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text" name="user[email]" class="form-control" id="email" autofocus>
    </div>
    <div class="form-group">
      <label for="pw">Password: </label>
      <input type="password" name="user[password]" class="form-control" id="pw">
    </div>
    <input type="submit" value="Log In!" id="login">
  </form>
<a href="/signup" id="reg">Not registered? Sign up here!</a>
<% include ../partials/footer %>