<% include ../partials/header %>
  <title>SF Map App Sign Up</title>
</head>
<body class = "container">
  <header>
  <h1>Sign Up for the SF Map App!</h1>
  <a href="/">Home</a>
  </header>
  <h2><% if(error !== undefined) {%>
    <%= error %>
  <% }%></h2>
  <form role="form" action="/signup" method="POST">
    <div class="form-group">
      <label for="name">Name: </label>
      <input type="text" name="user[name]" class="form-control" id="name" autofocus>
    </div>
    <div class="form-group">
      <label for="user">Email: </label>
      <input type="text" name="user[email]" class="form-control" id="user">
    </div>
    <div class="form-group">
      <label for="pass">Password: </label>
      <input type="password" name="user[password]" class="form-control" id="pass">
    </div>
    <input type="submit" value="Sign Up!">
  </form>
<a href="/login">Already registered? Log in here!</a>
<% include ../partials/footer %>